.navbar {
    height: 80px;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.searchbox {
    position: relative;

    button {
        background-color: #39CDCC;
        padding: 10px 20px;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

.search {
    width: 400px;
    border-radius: 6px;
    border: 1px solid #213F7D33;
    padding: 10px 14px;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.docs {
    color: #213f7d;
    font-size: 14px;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.menuBtn {
    display: none;
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .search {
        width: 250px;
    }
}


@media (max-width: 768px) {
    .menuBtn {
        display: block;
    }

    .logo {
        display: none
    }

    .searchbox {

        button {
            padding: 10px 15px;
        }
    }

    .search {
        width: 100%;
        max-width: 200px;
    }

    .right {
        span {
            display: none;
        }
    }

    .navbar {
        padding: 0 20px;
    }
}