.sidebar {
  width: 260px;
  background: #ffffff;
  border-right: 1px solid #e5e5e5;
  padding: 2.5rem 0rem 0.5rem;
  transition: transform 0.3s ease;
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  overflow-y: scroll;
}

.nav {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 3rem;
    padding: 12px 30px;
    font-size: 14px;
  }

  a {
    padding: 12px 30px;
    cursor: pointer;
    color: #213F7D99;
    font-size: 14px;
    margin-bottom: 4px;
    display: flex;
    gap: 8px;
    align-items: center;

    &:hover {
      background: #f3fcfc;
    }
  }
}

a.active {
  background: #39cdcc0f;
  color: #213f7d;
  font-weight: 600;
  border-left: solid 3px #39CDCC;
}

.section {
  font-size: 12px;
  font-weight: 600;
  margin: 20px 0 10px;
  color: #213f7d;
  padding: 0 30px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 5rem;
    padding: 30px 10px;
  }

  .nav a {
    font-size: 0.75rem;
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 100;
    width: 15rem;
    transform: translateX(-100%);
    margin-top: 0;

    &.mobileOpen {
      transform: translateX(0);
    }
  }

  .overlay {
    display: block;
    z-index: 99;
  }

  .nav {
    div {
      padding: 12px;
    }
  }
}